<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generar Cuota</title>
</head>
<body>

<h2>Generar Cuota</h2>

<form action="/cuota/generar" method="post">
  <label>RUT: <input type="text" name="rut" required></label><br>

  <label for="tipoPago">Tipo de Pago:</label>
  <select id="tipoPago" name="tipoPago" required>
    <option value="contado">Contado</option>
    <option value="cuotas">Cuotas</option>
  </select><br>

  <button type="submit">Generar Cuota</button>
</form>

<a th:href="@{/}" class="boton" >Volver al menú</a>

</body>
</html>