<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Cuotas</title>
  <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Cuotas del Estudiante</h2>

<p th:text="${nombre}"></p>

<table>
  <thead>
  <tr>
    <th>Cuota</th>
    <th>Monto</th>
    <th>Estado</th>
    <th>Fecha Limite de Pago</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cuota, status : ${cuotas}">
    <td th:text="${status.index + 1}"></td>
    <td th:text="${cuota.montoDescuentoI}"></td>
    <td th:text="${cuota.pagada}"></td>
    <td th:text="${cuota.fechaDePago}"></td>
  </tr>
  </tbody>
</table>

<a href="http://localhost:8090" class="boton">Volver al menú</a>

</body>
</html>