<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Cuotas</title>
</head>
<body>

<h2>Mostrar Cuotas</h2>

<table>
  <thead>
  <tr>
    <th>Cuota</th>
    <th>Monto</th>
    <th>Estado</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cuota, status : ${cuotas}">
    <td th:text="${status.index + 1}"></td>
    <td th:text="${cuota.monto}"></td>
    <td th:text="${cuota.fechaDePago}"></td>
    <td th:text="${cuota.pagada}"></td>
    <td th:if="${cuota.pagada == 'Pendiente'} and ${#temporals.format(cuota.fechaDePago, 'yyyyMM') le #temporals.format(T(java.time.LocalDate).now(), 'yyyyMM')}">
      <form th:action="@{'/mostrar/pagarcuota/' + ${cuota.id_cuota}}" method="post">
        <button type="submit">Pagar Cuota</button>
      </form>
    </td>
    <td th:unless="${cuota.pagada == 'Pendiente'}">
    </td>
  </tr>
  </tbody>
</table>

<a href="http://localhost:8090" class="boton">Volver al menú</a>

</body>
</html>