<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Cuotas</title>
</head>
<body>

<h2>Pagar Cuotas</h2>

<form action="/mostrar/rut2" method="post">
  <label>RUT: <input type="text" name="rut" required></label><br>
  <br>

  <button type="submit">Buscar Cuotas Que Pagar</button>
</form>

<a href="http://localhost:8090" class="boton">Volver al menú</a>

</body>
</html>